---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
       大家好，我是禾急！欢迎来到我的世界
        <br />
        我的主要生活有
      </p>
      <ul class="list-disc list-inside">
        <li>商业</li>
        <li>爱情亲情</li>
        <li>个人管理</li>
        <li>旅游</li>
        <li>宗教研究</li>
        <li>思考</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      万般皆空，不执我。
    </p>
    <p class="text-sm font-light">
      希望能制造有趣，有意思，有用的美妙事物！
    </p>
  </div>
</Card>
